go 1.26

use (
	./api/gen/go
	./libs/eventkit
	./libs/grpckit
	./services/api-gateway
	./services/assignment-service
	./services/audit-service
	./services/auth-service
	./services/notification-service
	./services/ticket-service
)
